main {
  padding: 1em;
  border: 1em dotted white;

  background-color: #d7b36c;
  background-image: url("/img/man16.png");
  /* background-position: bottom` left; */
  /* background-size: 50%; */
  /* background-repeat: no-repeat; */
  /* background-origin: border-box; */
  /* background-clip: text; */

  /* -webkit-background-clip: text; */
  /* color: transparent; */
}


/* h1 {
  font-size: 15vw;
  text-align: center;
  padding-top: 1.85em;
} */


/* main {
  padding: 1em;
  border: 1em dotted white;

  background-color: #d7b36c;
  background-image: url("/img/man16.png"), url("/img/moon.png"),
    url("/img/kraft2.jpg");
  background-position: bottom left, top 15% left 15%, center;
  background-size: contain, 10%, auto;
  background-repeat: no-repeat, no-repeat, repeat;
  background-origin: content-box, padding-box, border-box;
  background-attachment: local, fixed, local;
} */
